/* Main Style */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
}
h1, h2, h3 {
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
}

/* Navigation */
nav ul {
    list-style: none;
    background-color: #CEE5F2;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    display: inline-block;

}
nav a {
    text-decoration: none;
    color: #4A4A4F;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
nav a:hover {
    color: #4a4a4f;
    background-color: #7C98B3;
}
/* Navigation */
/* Header */
header {
    padding: 2%;
    background-color: #CEE5F2;
}
header p {
    text-align: center;
}
/* Header */

/* Section */
h2 {
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 5px;;
}

section p {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 0;
}
.card {
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 35px;
    vertical-align: top;
    

}

.card-img{
    text-align: center;
    margin-bottom: 3rem;
}
img {
    max-width: 200px;

}

.my100 {
    max-width: 100%;
}

.links-list {
    list-style: inside;
    padding-left: 0;
}

.links-list li {
    margin-bottom: 25px;
}

.links-list li a {
    text-decoration: none;
    color: #F46036;
}

.links-list li a:hover {
    text-decoration: underline;
}

.links-list li a:visited {
    color: #4a4a4f;
}

/* Section */

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    background-color: #4a4a4f;
    width: 100%;
    color: #ffffffb4;
    text-align: center;
    font-style: italic;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer span {
    margin-right: 25px;
}

/* media */

@media (max-width:720px) {
    .card {
        width: 35%;
    }
}

@media (max-width:520px) {
    .card {
        width: 95%;
        margin-left:5%;
    }
}