/* Main Style */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
}
h1, h2, h3 {
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
}
h2 {
    text-transform: uppercase;
    
}
/* Navigation */
nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    display: inline-block;

}
nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
nav a:hover {
    color: #4a4a4f;
    background-color: #ffffff;
}
/* Navigation */
/* Header */
header {
    margin-top: 2%;
    margin-bottom: 3%;
}
header p {
    text-align: center;
}
/* Header */

/* Section */


article {
    clear: both;
    background-color: #ffffff;

}
.card {
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 35px;
    vertical-align: middle;
    text-align: center;

}


.card-img img {
    max-width: 100%;

}

.links-list {
    list-style: none;
    padding-left: 0;
}

.links-list li {
    margin-bottom: 10px;
}

/* Section */

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    background-color: #4a4a4f;
    width: 100%;
    color: #ffffffb4;
    text-align: center;
    font-style: italic;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer span {
    margin-right: 25px;
}

