body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    font-size: 1.5em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
nav a:hover {
    color: #4a4a4f;
    background-color: #ffffff;
}
.card {
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-bottom:5%;

    
}
.card a {
    text-align: center;

}
.card img {
    width: 100%;
    height: 100px;

    
}
h1 {
    text-align: center;
}